@import url('https://fonts.googleapis.com/css?family=Lato');

$lato: 'Lato', sans-serif;

$font-family: $lato;

$burnt-black: #201d1d;
$proud-purple: #813772;
$pale-cerulean: #98C1D9;
$firey-flame: #E55812;
$munsel-green: #00A878;
$almost-white: #ececec;

$background-color: $burnt-black;
$content-color: $almost-white;
$highlight-color: $munsel-green;

*,
*:before,
*:after {
    box-sizing: border-box;
}

span {
    font-size: 16px;
}

.btn-primary {
    background: $highlight-color;
    border-color: darken($highlight-color, 10%);

    &:hover {
        background: darken($highlight-color, 10%);
    }
}

@media screen and (min-width: 768px) {
    body {
        overflow-y: hidden;
    }
}