.menu {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all 0.2s;
    z-index: 98;

    .button-bg {
        background-color: $content-color;

        width: 30px;
        height: 30px;
        border-radius: 50%;

        position: absolute;
        bottom: 36px;
        transform: translateX(-50%);
    }

    &__add,
    &__create {
        fill: $highlight-color;
        stroke: $highlight-color;
        cursor: pointer;

        width: 45px;
        height: 45px;
        border-radius: 50%;

        position: absolute;
        bottom: 30px;
        transform: translateX(-50%);
        z-index: 99;
        transition: all 0.2s;
    }

    .for-menu__add,
    .for-menu__create {
        transition: all 0.2s;
    }

    &__add,
    .for-menu__add {
        left: 50%;
    }

    &__create,
    .for-menu__create {
        position: fixed;
        bottom: -50px;
        left: 60%;
    }

    @media screen and (min-width: 768px) {
        position: relative;
    }
}

.newIsOpen {
    bottom: 50px;

    .menu__add {
        left: 40%;
        transform: translateX(-50%) rotate(45deg);
    }

    .for-menu__add {
        left: 40%;
    }

    .menu__create,
    .for-menu__create {
        position: absolute;
    }

    .menu__create {
        bottom: 30px;
    }

    .for-menu__create {
        bottom: 36px;
    }
}