.modal {
    top: auto;
}

.modal-content {
    border-color: $highlight-color;
}

.flyup {
    transform: translateY(100%);
    opacity: 0;
    transition: all .2s linear;
}

.flyup.show {
    opacity: 1;
    transform: translateY(0);
}