.new_todo {
    background: $highlight-color;

    height: 62px;
    width: 100vw;
    padding: 8px;

    position: fixed;
    bottom: -62px;
    left: 0;
    right: 0;
    z-index: 100;
    transition: all 0.2s;

    &__accept {

        width: 30px;
        height: 30px;
        margin-left: 6px;

        position: relative;
        overflow: hidden;
        transition: transform 0.2s;
    
        &:after {
            content: "";
            background-color: $content-color;

            width: 20px;
            height: 20px;
            border-radius: 50%;

            position: absolute;
            left: 0;
            top: 50%;
            transform: translate(30%, -50%);
        }

        &:hover {
            transform: scale(1.2);
        }
    }

    &__create {
        fill: $highlight-color;
        stroke: $content-color;
        border: 2px solid white;
        cursor: pointer;

        width: 30px;
        height: 30px;
        border-radius: 50%;

        position: relative;
        z-index: 101;
        overflow: hidden;
    }

    @media screen and (min-width: 768px) {
        position: static;
        width: auto;
        bottom: auto;
        margin-top: 20px;
        padding-right: 14px;
        border-radius: 6px;
    }
}

.isOpen {
    bottom: 0;
}