.todo {
    display: table;
    position: relative;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 16px;
    padding-left: 12px;
    width: 100%;

    .isComplete {
        text-decoration: line-through;
        opacity: 0.7;
    }

    input {
        position: absolute;
        left: -3000%;
    }

    input:checked + label:before {
        background: $highlight-color;
    }

    &__content {
        display: table-cell;
        vertical-align: middle;
        padding-left: 26px;
        padding-right: 10%;
        cursor: pointer;
        transition: opacity 0.1s;
    }

    &__checkbox-wrapper {
        display: table-cell;
        vertical-align: middle;
        margin: 0;

        &:before {
            content: "";
            background-color: $content-color;
            border: 2px solid $highlight-color;
            cursor: pointer;

            width: 12px;
            height: 12px;

            position: absolute;
            top: 50%;
            transform: translateY(-45%) rotate(45deg);
        }
    }

    &__edit {
        background: transparent;
        border: none;
        padding: 8px;
        width: 30px;
        height: 30px;
        cursor: pointer;

        float: right;
        opacity: .5;
        svg {
            fill: white;
        }

        &:hover {
            opacity: .75;
        }
    }

    &__destroy {
        width: 30px;
        height: 30px;
        display: table-cell;
        vertical-align: middle;
    }
}