@import '_resets.scss';
@import '_base.scss';
@import '_menu.scss';
@import '_todo.scss';
@import '_newtodo.scss';
@import '_modal.scss';

.app {
    background: $background-color;
    height: 100%;
    min-height: 100vh;
    width: 100vw;
    margin-bottom: -15px;
    transition: padding-bottom 0.2s;
}

.todo-list {
    border-left: 3px solid $highlight-color;
    border-right: 3px solid $highlight-color;
    border-top: 2px solid $highlight-color;
    min-height: 100vh;
    overflow-x: hidden;

    @media screen and (min-width: 768px) {
        margin-top: 20px;
        height: calc(100vh - 10px);
        min-height: calc(100vh - 10px);
        overflow: hidden;
        overflow-y: scroll;
    }
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.menuOpen {
    padding-bottom: 110px;
}

li,
span,
p {
    color: $content-color;
    font-family: $font-family;
}