<template>
    <div class="modal flyup" id="destroyModal" tabindex="-1" role="dialog" aria-labelledby="destroyModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="destroyModalLabel">Delete this todo?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No thanks</button>
                <button type="button" class="btn btn-primary" @click="destroyTodo(currentTodo.id)" data-dismiss="modal">OK</button>
            </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'destroy',
        props: [ 'currentTodo', 'destroyTodo' ]
    }
</script>