<template>
    <div class="modal flyup" id="editTodoModal" tabindex="-1" role="dialog" aria-labelledby="editTodoModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editTodoModalLabel">Edit Todo:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form @submit.prevent="submitHandler">
                    <div class="form-group">
                        <label for="todo-contents" class="form-control-label">Content:</label>
                        <input type="text" class="form-control" id="todo-contents" v-model="content">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" ref="submitEdit" class="btn btn-primary" data-dismiss="modal" @click="submitEdit(currentTodo.id, content)">Submit</button>
            </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'edit',
        props: [ 'currentTodo', 'editTodo' ],
        methods: {
            submitHandler() {
                let el = this.$refs.submitEdit;
                el.click();
            },
            submitEdit(id, content) {
                this.editTodo(id, content);
                this.content = '';
            }
        },
        data() {
            return {
                content: ''
            }
        }
    }
</script>