<template>
    <nav :class="['menu', { 'newIsOpen' : newIsOpen }]">
        <svg 
            xmlns="http://www.w3.org/2000/svg"
            class="menu__add"
            viewBox="0 0 24 24"
            @click="newTodo"
        >
        <path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6 13h-5v5h-2v-5h-5v-2h5v-5h2v5h5v2z"/></svg>
        <svg 
            xmlns="http://www.w3.org/2000/svg" 
            viewBox="0 0 77.2 77.2"
            class="menu__create"
            @click.prevent="createTodo(newTodoContent)"
        >
        <path d="M38.6 77.2A38.6 38.6 0 1 0 0 38.6a38.62 38.62 0 0 0 38.6 38.6zM20.4 34.5l12.3 12.3 22.5-22.5 3 3-25.5 25.5-15.3-15.3z"/></svg>
        <div class="button-bg for-menu__add"></div>
        <div class="button-bg for-menu__create"></div>
    </nav>
</template>

<script>
    export default {
        name: 'options',
        props: [
            'newTodo',
            'newIsOpen',
            'createTodo',
            'newTodoContent'
        ]
    }
</script>