<template>
    <li class="todo">
        <input
            type="checkbox"
            :ref="'checkbox' + todo.id"
            :id="'checkbox' + todo.id"
            @change="toggleComplete($event, todo.id)"
            :checked="todo.complete"
        >
        <label
            class="todo__checkbox-wrapper"
            :for="'checkbox' + todo.id"
        ></label>
        <p
            :class="['todo__content', { 'isComplete' : todo.complete }]"
            @click="checkTheBox($event, todo.id)"
        >{{ todo.content }}</p>
        <button
            type="button"
            class="close todo__destroy"
            aria-label="Close"
            data-target="#destroyModal"
            data-toggle="modal"
            @click="setCurrentTodo(todo)"
        >
            <span aria-hidden="true">&times;</span>
        </button>
        <button
            type="button"
            class="todo__edit"
            data-target="#editTodoModal"
            data-toggle="modal"
            @click="setCurrentTodo(todo)"
        >
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129"><path d="M119.2 114.3H9.8c-2.3 0-4.1 1.9-4.1 4.1s1.9 4.1 4.1 4.1h109.5c2.3 0 4.1-1.9 4.1-4.1s-1.9-4.1-4.2-4.1zM5.7 78l-.1 19.5c0 1.1.4 2.2 1.2 3 .8.8 1.8 1.2 2.9 1.2l19.4-.1c1.1 0 2.1-.4 2.9-1.2l67-67c1.6-1.6 1.6-4.2 0-5.9L79.8 8.1c-1.6-1.6-4.2-1.6-5.9 0L60.5 21.6 6.9 75.1c-.7.8-1.2 1.8-1.2 2.9zm71.2-61.1l13.5 13.5-7.6 7.6-13.5-13.5 7.6-7.6zM14 79.8l49.4-49.4 13.5 13.5-49.4 49.3-13.6.1.1-13.5z"/></svg>
        </button>
    </li>
</template>

<script>
    export default {
        name: 'todo',
        methods: {
            checkTheBox(e, id) {
                this.$refs['checkbox' + id].checked = !this.$refs['checkbox' + id].checked;
                this.toggleComplete(e, id);
            }
        },
        props: [
            'todo',
            'index',
            'toggleComplete',
            'setCurrentTodo'
        ]
    }
</script>