<template>
    <div :class="['new_todo', { 'isOpen' : isOpen }]">
        <form class="form-inline" ref="createForm" @submit.prevent="submitHandler">
            <label class="sr-only">Todo Content</label>
            <input
                type="text"
                class="form-control m-1"
                v-model="content"
                ref="newTodo"
                pattern=".{1,}"
                required
                title="at least one character"
                @keyup="updateParent(content)"
            >
            <div class="new_todo__accept hidden-sm-down">
                <label>
                    <input class="hidden-sm-up" type="submit">
                    <svg 
                        xmlns="http://www.w3.org/2000/svg" 
                        viewBox="0 0 77.2 77.2"
                        class="new_todo__create hidden-sm-down"
                    >
                    <path d="M38.6 77.2A38.6 38.6 0 1 0 0 38.6a38.62 38.62 0 0 0 38.6 38.6zM20.4 34.5l12.3 12.3 22.5-22.5 3 3-25.5 25.5-15.3-15.3z"/></svg>
                </label>
            </div>
        </form>
    </div>
</template>

<script>
    export default {
        name: 'todoinput',
        props: [
            'isOpen',
            'updateParent',
            'createTodo',
            'newTodoContent'
        ],
        methods: {
            submitHandler() {
                this.createTodo(this.content);
                this.content = '';
            }
        },
        watch: {
            isOpen: function(val) {
                if (val == false) {
                    this.content = "";
                } else {
                    this.$refs.newTodo.focus();
                }
            }
        },
        data() {
            return {
                content: ""
            }
        }
    }
</script>