<template>
  <div id="app" :class="['app', { 'menuOpen' : newIsOpen }]">
    <div class="container-fluid">
      <Edit
        :currentTodo="currentTodo"
        :editTodo="editTodo"
      ></Edit>
      <Destroy
        :currentTodo="currentTodo"
        :destroyTodo="destroyTodo"
      ></Destroy>
      <div class="row no-gutters">
        <ul class="todo-list col-sm-12 col-md-5 col-lg-4 offset-md-1 offset-lg-2">
          <Todo
            v-for="todo in todos"
            v-ripple="'rgba(0, 168, 120, 0.2)'"
            :todo="todo"
            :key="todo.id"
            :toggleComplete="toggleComplete"
            :setCurrentTodo="setCurrentTodo"
          ></Todo>
        </ul>
        <TodoInput
          class="offset-md-1"
          :isOpen="newIsOpen"
          :createTodo="createTodo"
          :updateParent="updateParent"
          :newTodoContent="newTodoContent"
        ></TodoInput>
      </div>
      <Options
        class="hidden-md-up"
        :newTodo="newTodo"
        :newIsOpen="newIsOpen"
        :createTodo="createTodo"
        :newTodoContent="newTodoContent"
      ></Options>
    </div>
  </div>
</template>

<script>
import Todo from './components/Todo.vue';
import TodoInput from './components/TodoInput.vue';
import Options from './components/Options.vue';
import Edit from './components/Edit.vue';
import Destroy from './components/DestroyCheck.vue';

import db from './firebase/fb.js';

const ref = db.ref('todos');

export default {
  name: 'app',
  components: { Todo, Options, TodoInput, Edit, Destroy },
  methods: {
    toggleComplete(e, id) {
      if (e.shiftKey) {
        let end_index;
        this.todos.forEach((todo, index) => {
          if (todo.id == id) {
            todo.complete = !todo.complete;
            end_index = index;
          };
        });
        let start_index;
        for (let i = end_index - 1; i >= 0; i--) {
          if (this.todos[i].complete) {
            start_index = i;
          }
        }
        for (start_index; start_index <= end_index; start_index++) {
          this.todos[start_index].complete = true;
          ref.child(this.todos[start_index].id).update({ complete: true });
        }
      } else {
        this.todos.forEach((todo) => {
          if (todo.id == id) {
            todo.complete = !todo.complete;
            ref.child(id).update({ complete: todo.complete });
          };
        });
      }
    },
    toggleModal() {
      this.showModal = !this.showModal;
    },
    newTodo() {
      this.newIsOpen = !this.newIsOpen;
    },
    destroyTodo(id) {
      ref.child(id).remove();
    },
    editTodo(id, content) {
      ref.child(id).update({
        content
      });
    },
    createTodo(content) {
      let key = ref.push().key;
      ref.child(key).set({
        id: key,
        content,
        complete: false
      });
      this.newIsOpen = false;
      this.newTodoContent = "";
    },
    updateParent(content) {
      this.newTodoContent = content;
    },
    setCurrentTodo(todo) {
      this.currentTodo = todo;
    }
  },
  data () {
    return {
      todos: [],
      newTodoContent: "",
      newIsOpen: false,
      currentTodo: {}
    }
  },
  firebase: {
    todos: {
      source: ref
    }
  }
}
</script>

<style lang="scss">
  @import '../node_modules/bootstrap/scss/bootstrap.scss';
  @import './styles/main.scss';
</style>
